<li><%= link_to 'Decentraland', platforms_decentraland_path %></li>
<li><%= link_to 'The Sandbox', platforms_thesandbox_path %></li>
<li><%= link_to 'Cryptovoxels', platforms_cryptovoxels_path %></li>
<li><%= link_to 'Somnium Space', platforms_somniumspace_path %></li>